Q1. CREATE ONE VARIABLE CONTAINING FOLLOWING TYPE OF DATA:
    1. STRING
    2. LIST
    3. FLOAT
    4. TUPLE

In [2]:
a_str = "hello everyone"
b_list = [1,2,3,'sakshi','jyoti']
c_float = 56.78
d_tuple = (1,2,3,4,5)

In [4]:
print (type(a_str))
print (type(b_list))
print (type(c_float))
print (type(d_tuple))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [ ]:
Q2. GIVEN ARE SOME FOLLOWING VARIABLES CONTAINING DATA:
    1. var1 = 'undefined'
    2. var2 = '[DS, ML, PYTHON]'
    3. var3 = ['DS','ML','PYTHON']
    4. var4 = 1.
    
WHAT WILL BE THE DATA TYPE OF THE ABOVE GIVEN VARIABLE.

In [22]:
type(var1)
type(var2)
type(var3)
type(var4)

NameError: name 'var1' is not defined

Q3. EXPLAIN THE USE OF THE FOLLOWING OPERATORS USING AN EXAMPLE:
    1. /
    2. %
    3. //
    4. **

In [6]:
5/4
#IT IS USED FOR DIVISION

1.25

In [7]:
2%4
#IT IS A MODULE THAT GIVES THE REMAINDER

2

In [8]:
6//4
#IT IS KNOWN AS FLOOR DIVISION THAT REMOVES THE DECIMALS

1

In [9]:
5**6
#IT IS USED FOR SQUARE ROOT

15625

Q4. CREATE A LIST  OF LENGTH 10 OF YOUR CHOICE CONTAINING MULTIPLE TYPES OF DATA.USING FOR LOOP PRINT THE ELEMENT AND ITS DATA TYPE.

In [3]:
list = (1, 7.89, 0, False, 4+6j, "Cream", "MIT university", 5.6, 78, -43);
for x in list:
    print(x)
    print("the datatype is:")
    print(type(x))

1
the datatype is:
<class 'int'>
7.89
the datatype is:
<class 'float'>
0
the datatype is:
<class 'int'>
False
the datatype is:
<class 'bool'>
(4+6j)
the datatype is:
<class 'complex'>
Cream
the datatype is:
<class 'str'>
MIT university
the datatype is:
<class 'str'>
5.6
the datatype is:
<class 'float'>
78
the datatype is:
<class 'int'>
-43
the datatype is:
<class 'int'>

Q5.USING A WHILE LOOP , VERIFY IF THE NUMBER A IS PURELY DIVISIBLE BY NUMBER B AND IF SO THEN HOW MANY TIMES IT CAN BE DIVISIBLE.

In [14]:
A = int(input('enter the dividend:'))
B = int(input('enter the divisor:'))
count = 2
while(A%B == 0):
    A = A/B
    count += 1
if count>0:
    print("A is divisible by B",count,"time")
else:
    print("A is not divisible by B")

enter the dividend: 60
enter the divisor: 10

A is divisible by B 3 time

Q6. CREATE A LIST CONTAINING 25 INT TYPE DATA.USING FOR LOOP AND IF ELSE CONDITION PRINT IF THE ELEMENT IS DIVISIBLE BY 3 OR NOT.

In [10]:
num_list = (9,12,25,67,56,45,78,90,27,56,36,40,88,67,22,33,100,54,43,21,55,70,66,16,13)
for x in num_list:
    if(x%3==0):
        print(f"{x} is divisible by 3")
    else:
        print(f"{x} is not divisible by 3")

9 is divisible by 3
12 is divisible by 3
25 is not divisible by 3
67 is not divisible by 3
56 is not divisible by 3
45 is divisible by 3
78 is divisible by 3
90 is divisible by 3
27 is divisible by 3
56 is not divisible by 3
36 is divisible by 3
40 is not divisible by 3
88 is not divisible by 3
67 is not divisible by 3
22 is not divisible by 3
33 is divisible by 3
100 is not divisible by 3
54 is divisible by 3
43 is not divisible by 3
21 is divisible by 3
55 is not divisible by 3
70 is not divisible by 3
66 is divisible by 3
16 is not divisible by 3
13 is not divisible by 3

Q7. WHAT DO YOU UNDERSTAND ABOUT MUTUABLE AND IMMMUTABLE DATA TYPE? GIVE EXAMPLES FOR BOTH SHOWING THIS PROPERTY.

In [16]:
#MUTABILITY
Student_name = ["Joseph","Aadhya","Bhavesh","Kinjal","Kashish"]
print(Student_name)
Student_name[2] = "Ananya"
print(Student_name)

['Joseph', 'Aadhya', 'Bhavesh', 'Kinjal', 'Kashish']
['Joseph', 'Aadhya', 'Ananya', 'Kinjal', 'Kashish']

In [17]:
j = "Krishna"
j[0]= o

NameError: name 'o' is not defined