Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
you have collected data on the amount of time students spend studying for an exam and their final exam
scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [1]:
import numpy as np
amt_of_time = np.array([5,6,7,3,4,7])
final_scores = np.array([80,85,90,56,79,92])
result = np.corrcoef(amt_of_time,final_scores)
print(result)

[[1.         0.91680766]
 [0.91680766 1.        ]]

In [4]:
df.corr(method='pearson')

              amt_of_time  final_scores
amt_of_time      1.000000      0.916808
final_scores     0.916808      1.000000

Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
Suppose you have collected data on the amount of sleep individuals get each night and their overall job
satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
variables and interpret the result.

In [1]:
import pandas as pd
df = pd.DataFrame({'amt_of_sleep':[6,8,9,6,7,5,8,8,7,6],
                  'job_satisfaction':[1,6,7,5,4,4,7,8,9,5]})
df

   amt_of_sleep  job_satisfaction
0             6                 1
1             8                 6
2             9                 7
3             6                 5
4             7                 4
5             5                 4
6             8                 7
7             8                 8
8             7                 9
9             6                 5

In [5]:
df.corr(method = 'spearman')

                  amt_of_sleep  job_satisfaction
amt_of_sleep          1.000000          0.676221
job_satisfaction      0.676221          1.000000

Q3. Suppose you are conducting a study to examine the relationship between the number of hours of
exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
between these two variables and compare the results.

In [2]:
import pandas as pd
df = pd.DataFrame({'hours_of_exercise':[15,16,14,17,18],
                  'bodymass_index':[100,80,90,78,55]
                  })
df

   hours_of_exercise  bodymass_index
0                 15             100
1                 16              80
2                 14              90
3                 17              78
4                 18              55

In [11]:
import numpy as np
x = pd.DataFrame(np.random.randint(low=5,high=100,size=50))
x.head()

    0
0  82
1  41
2  95
3  80
4  94

In [12]:
x.corr(method='pearson')

     0
0  1.0

In [13]:
x.corr(method='spearman')

     0
0  1.0

Q4. A researcher is interested in examining the relationship between the number of hours individuals
spend watching television per day and their level of physical activity. The researcher collected data on
both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
these two variables.

In [16]:
import numpy as np
hrs_television = np.random.randint(low=0,high=50,size=50)
level_of_physicalactivity = np.random.randint(low=0,high=50,size=50)
result = np.corrcoef(hrs_television ,level_of_physicalactivity)
print(result)

[[ 1.         -0.13066198]
 [-0.13066198  1.        ]]

Q5. A survey was conducted to examine the relationship between age and preference for a particular
brand of soft drink. The survey results are shown below:
Age(Years)
25 Coke
42 Pepsi
37
19
31
28

Soft drink Preference
coke
pepsi
Mountain dew
Coke
Pepsi
Coke

In [22]:
import pandas as pd
df = pd.DataFrame({'Age':[25,42,37,19,31,28],
                  'soft drink prefernce':['coke','pepsi','mountain dew','coke','pepsi','coke']
                  })
df

   Age soft drink prefernce
0   25                 coke
1   42                pepsi
2   37         mountain dew
3   19                 coke
4   31                pepsi
5   28                 coke

In [23]:
df.corr(method='pearson')

/tmp/ipykernel_91/1928163937.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='pearson')

     Age
Age  1.0

In [27]:
df.corr(method='spearman')

/tmp/ipykernel_91/1222267885.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='spearman')

     Age
Age  1.0